h1{
    background-color:rgb(255, 0,0);
    color:aqua;
    border: 2px solid rgb(0, 0,0);
}
p{
    background-color: #0000ff;
    color: brown;
    border: 20px;
    border: 2px solid #000000;


}
h2{
    background-color:green;
    color: brown;
    border: 20px;
    border: 2px solid black;


}

