ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    
    
}
a{
    display: block;
    padding: 8px;
    background-color: beige;
    
    
}
li{
    float: left;

}
.active
{
    background-color: skyblue;
    
}
.active1
{
    background-color: skyblue;
    
}